.wrapper {
  min-height: 469px;
  background-color: #fafafa;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  padding: 4rem 1.5rem;
}

.empty {
  text-align: center;
}

.empty h2 {
  margin: 2.5rem 0 2rem;
  font-size: 2rem;
  color: #333;
}

.empty p {
  color: #737373;
}

.container {
  margin-top: 2rem;
}
