.nav {
  background-color: #fff;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.links {
  display: flex;
  margin: auto;
  gap: 2rem;
}

.linkItem {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.linkItem a {
  color: #333;
}

.active {
  background-color: #efebff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}

.active a {
  color: #633cff;
}
